// Dependencies
@import "normalize.less";
@import "pygments.less";
@import "font-awesome.less";

// Typography
@font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
@font-size-base: 16px;
@font-size-desktop: 18px;
@line-height-base: 1.4;
@font-size-icon: @line-height-base * @font-size-base;
@font-size-desktop-logo: 8 * @font-size-base;
@font-size-mobile-logo: 2 * @font-size-base;

@max-ex-width: 80ex;

// Tomorrow Night Color Scheme
@tomorrow-night-white: #fff;
@tomorrow-night-background: #1d1f21;
@tomorrow-night-current-line: #282a2e;
@tomorrow-night-selection: #373b41;
@tomorrow-night-foreground: #c5c8c6;
@tomorrow-night-comment: #969896;
@tomorrow-night-red: #cc6666;
@tomorrow-night-orange: #de935f;
@tomorrow-night-yellow: #f0c674;
@tomorrow-night-green: #b5bd68;
@tomorrow-night-aqua: #8abeb7;
@tomorrow-night-blue: #81a2be;
@tomorrow-night-purple: #b294bb;

// Media Queries
@mobile-width: 768px;

// Base
body {
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  background-color: @tomorrow-night-white;
  padding: 0;
}

// Links
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// Masthead
.masthead {
  background-color: @tomorrow-night-background;
  color: @tomorrow-night-foreground;

  a {
    color: @tomorrow-night-foreground;
    &:hover {
      color: @tomorrow-night-blue;
      text-decoration: none;
    }
  }

  h2 {
    color: @tomorrow-night-selection;
  }

  .logo {
    color: @tomorrow-night-blue;
  }

  ul.accounts {
    list-style-type: none;
    padding: 0;

    li {
      display: inline;
      padding: 0 0.5ex;
    }
  }

  .wrapper {
    padding: 0 19%;
    text-align: center;
  }
}

// Content
.content {
  max-width: @max-ex-width;
  padding: 1.5em;
  color: @tomorrow-night-background;
  a {
    color: @tomorrow-night-blue;
  }

  pre {
    overflow: scroll;
    padding: 0.4em;
    white-space: pre;
  }
}

// Feed
.feed {
  article {
    border-top: 1px @tomorrow-night-foreground solid;
  }
}

// Mobile Screen
@media screen and (max-width: @mobile-width) {
  .masthead {
    .logo {
      font-size: @font-size-mobile-logo;
    }

    ul.accounts i {
      font-size: @font-size-icon;
    }
  }
}

// Desktop Screen
@media screen and (min-width: @mobile-width) {
  body {
    font-size: @font-size-desktop;
  }

  .masthead {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 38%;

    .logo {
      font-size: @font-size-desktop-logo;
    }

    ul.accounts i {
      font-size: @font-size-icon;
    }
  }

  .content {
    margin-left: 40%;
  }
}