<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Oswald|Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/blog.css">
</head>
<body>
  <div class="blog">
    <aside class="sidebar">
      <h1>{{site.title}}</h1>
      <h2 class="subheader">{{site.description}}</h2>
    </aside>
    <div class="content">{{content}}</div>
  </div>
</body>
</html>
