---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <h2  itemprop="headline">{{ page.title }}</h2>
  <h3 itemprop="dateCreated">{{ page.date | date_to_string }}</h3>
  <div class="post" itemprop="articleBody">
  {{ content }}
  </div>
  <div class="social-widgets">
    <ul class="widgets">
      <li class="email">
        <a href="mailto:?subject={{ page.title | uri_escape }}&body={{ content | uri_escape }}">
          <i class="icon-envelope"></i>
        </a>
      </li>
      <li class="twitter">
        <a href="https://twitter.com/intent/tweet?url=http://{{ site.domain | uri_escape }}{{ page.url | uri_escape }}&text={{ page.title | uri_escape }}&via=pspeter3">
          <i class="icon-twitter"></i>
        </a>
      </li>
      <li class="facebook">
        <a href="https://facebook.com/sharer.php?u=http://{{ site.domain | uri_escape }}{{ page.url | uri_escape }}">
          <i class="icon-facebook"></i>
        </a>
      </li>
      <li class="google-plus">
        <a href="https://plus.google.com/share?url=http://{{ site.domain | uri_escape }}{{ page.url | uri_escape }}">
          <i class="icon-google-plus"></i>
        </a>
      </li>
    </ul>
  </div>
  <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = {{ site.disqus }}; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</article>